* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
}

#header {
  display: flex;
  width: 100%;
  height: 100px;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: antiquewhite;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: beige;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
}
.nav > ul {
  display: flex;
  list-style: none;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  padding: 10px 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: blueviolet;
}
.nav > ul > li > a:hover {
  background-color: brown;
}
.nav > ul > li:hover > ul {
  max-height: 300px;
}
.nav > ul > li > ul {
  position: absolute;
  list-style: none;
  background-color: #f7e7d6;
  top: calc(100% + 10px);
  width: 100%;

  max-height: 0;
  overflow: hidden;
  transition: .8s ease;
}
.nav > ul > li > ul > li {

}
.nav > ul > li > ul > li > a {
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #e0ac8f;
  padding: 10px;
  display: block;
}
.nav > ul > li > ul > li > a:hover {
  background-color: #8caba3;
}

#main {
  width: 100%;
}
#main .slide {
  width: 100%;
  height: 300px;
  background-color: aqua;
}
#main .contents {
  display: flex;
  width: 100%;
}
.contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: azure;
}
.contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: blue;
}
.contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: blueviolet;
}

#footer {
  display: flex;
  width: 100%;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: aquamarine;
}
#footer .footer2 {
  width: 60%;
  height: 100px;background-color: beige;
}
#footer .footer3 {
  width: 20%;
  height: 100px;
  background-color: bisque;
}