* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 1000px;
  display: flex;
}

#aside {
  width: 20%;
  height: 650px;
}
#aside .logo {
  width: 100%;
  height: 100px;
  background-color: #dfdfdf;
}
#aside .nav {
  width: 100%;
  height: 550px;
  background-color: #efefef;
}

#main {
  width: 80%;
  height: 650px;
}
#slide {
  width: 100%;
  height: 350px;
  background-color: #c7c7c7;
}
#contents {
  width: 100%;
  display: flex;
}
#contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: #a1a1a1;
}
#contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: #bcbcbc;
}
#contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: #a1a1a1;
}
#footer {
  width: 100%;
  display: flex;
  background-color: #c7c7c7;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: #333;
}
#footer .footer2 {
  width: 80%;
  display: flex;
}
#footer .footer2 .footer2-1 {
  width: 100%;
  height: 50px;
  background-color: #666;
}
#footer .footer2 .footer2-2 {
  width: 100%;
  height: 50px;
  background-color: #999;
}
