* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#aside {
  width: 200px;
  height: 850px;
}
#aside .logo {
  width: 100%;
  height: 150px;
  background-color: #aaa;
}
#aside .nav {
  width: 100%;
  height: 700px;
  background-color: #bbb;
}

#main {
  width: calc(100% - 200px);
  height: 850px;
}
#main #slide {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}
#main #link {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 300px;
  background-color: #ddd;
}
#main #banner {
  width: 100%;
  height: 200px;
  background-color: #eee;
}
#main #gallery {
  width: 100%;
  height: 250px;
  background-color: #a1a1a1;
}

#footer {
  display: flex;
  width: 100%;
  height: 100px;
}
#footer .logo {
  flex-shrink: 0;
  width: 200px;
  height: 100%;
  background-color: #b2b2b2;
}
#footer .copyright {
  width: calc(100% - 200px - 200px);
  min-width: 300px;
  height: 100%;
  background-color: #c3c3c3;
}
#footer .sns {
  flex-shrink: 0;
  width: 200px;
  height: 100%;
  background-color: #d4d4d4;
}