* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-color: aliceblue;
}

#header {
  display: flex;
  width: 100%;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: azure;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: aqua;
}
.nav {
  
}
.nav > ul {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}
.nav > ul > li {
  list-style: none;
  position: relative;
}
.nav > ul > li > a {
  display: inline-block;
  padding: 10px 50px;
  background-color: cornsilk;
  text-decoration: none;
  color: black;
}
.nav > ul > li > a:hover {
  background-color: crimson;
}
.nav > ul > li > ul {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  /* display: none; */
}
.nav > ul > li > ul > li {
  list-style: none;
}
.nav > ul > li > ul > li > a {
  display: inline-block;
  padding: 10px;
  background-color: darkcyan;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.nav > ul > li > ul > li > a:hover {
  background-color: darkgoldenrod;
}

/* 자바스크립트 CSS */
.nav > ul > li > ul {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 600ms;
}

#main {
  width: 100%;
}
#main .slide {
  width: 100%;
  height: 300px;
  background-color: blue;
}
#main .contents {
  display: flex;
  width: 100%;
  background-color: blueviolet;
}
.contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: brown;
}
.contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: burlywood;
}
.contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: cadetblue;
}

#footer {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: chartreuse;
}
#footer .footer2 {
  width: 80%;
  height: 100px;
}
.footer2 .footer2-1 {
  width: 100%;
  height: 50px;
  background-color: coral;
}
.footer2 .footer2-2 {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}