* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 1200px;
  height: 700px;
  background-color: antiquewhite;
  margin: 0 auto;
}

#header {
  width: 100%;
  background-color: aqua;
  display: flex;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: antiquewhite;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: aliceblue;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 30px;
}
#header::after {
  content: '';
  position: absolute;
  top: 100px;
  width: 1200px;
  height: 0;
  background-color: coral; 

  transition: 0.5s ease;
}
#header.on::after {
  height: 150px;
}

.nav .mainmenu {
  list-style: none;
}
.nav .mainmenu > li {
  position: relative;
}
.nav .mainmenu > li > a {
  display: block;
  padding: 10px 50px;

  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: burlywood;
}
.nav .mainmenu > li > a:hover {
  background-color: cadetblue;
  color: white;
}
.nav .mainmenu > li > .submenu {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 1000;

  position: absolute;
  list-style: none;
  width: 100%;
}
.nav .mainmenu > li > .submenu > li {

}
.nav .mainmenu > li > .submenu > li > a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 6px;
  width: 100%;
}
.nav .mainmenu > li > .submenu > li > a:hover {
  background-color: chocolate;
  color: white;
}


#main {
  width: 100%;
  height: 500px;
}
#main .slide {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
}
#main .contents {
  display: flex;
  width: 100%;
  background-color: antiquewhite;
}
.contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: azure;
}
.contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: blue;
}
.contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: blueviolet;
}


#footer {
  width: 100%;
  height: 100px;
  display: flex;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: brown;
}
#footer .footer2 {
  width: 60%;
  height: 100px;
  background-color: cadetblue;
}
#footer .footer3 {
  width: 20%;
  height: 100px;
  background-color: beige;
}