* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#wrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-color: aliceblue;
}

#header {
  display: flex;
  width: 100%;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: azure;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: aqua;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nav > ul {
  display: flex;
  margin-right: 30px;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: block;
  padding: 10px 50px;
  background-color: red;
  color: white;
}
.nav > ul > li > a:hover {
  background-color: orange;
  color: black;
}
.nav > ul > li >  ul {
  position: absolute;
  width: 100%;

  height: 0px;
  overflow: hidden;
  transition: .7s ease;
}
.nav > ul > li >  ul > li > a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: yellow;
}
.nav > ul > li >  ul > li > a:hover {
  background-color: green;
  color: white;
}

#main {
  width: 100%;
}
#main .slide {
  width: 100%;
  height: 300px;
  background-color: blue;
}
#main .contents {
  display: flex;
  width: 100%;
  background-color: blueviolet;
}
.contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: brown;
}
.contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: burlywood;
}
.contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: cadetblue;
}

#footer {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: chartreuse;
}
#footer .footer2 {
  width: 80%;
  height: 100px;
}
.footer2 .footer2-1 {
  width: 100%;
  height: 50px;
  background-color: coral;
}
.footer2 .footer2-2 {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}