* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#wrap {
  width: 100%;
}

#header {
  display: flex;
  width: 1340px;
  margin: 0 auto;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: azure;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: beige;
}

#slider {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: antiquewhite;
}
#slider .link {
  position: absolute;
  width: 1340px;
  height: 100px;
  background-color: aqua;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#contents {
  width: 1340px;
  height: 450px;
  margin: 0 auto;
  background-color: aqua;
}
#contents .banner {
  width: 100%;
  height: 150px;
  background-color: black;
}
#contents .notice {
  width: 100%;
  height: 300px;
  background-color: blanchedalmond;
}

#footer {
  display: flex;
  width: 1340px;
  margin: 0 auto;
}
#footer .footer1 {
  width: 20%;
  height: 120px;
  background-color: blue;
}
#footer .footer2 {
  width: 80%;
  height: 120px;
}
.footer2 .footer2-1 {
  width: 100%;
  height: 60px;
  background-color: brown;
}
.footer2 .footer2-2 {
  width: 100%;
  height: 60px;
  background-color: burlywood;
}

/* nav */
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 30px;
  z-index: 1000;
}
.nav > ul {
  display: flex;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: inline-block;
  padding: 10px 50px;
  background-color: #b0b0b0;
}
.nav > ul > li > a:hover {
  background-color: #696969;
}
.nav > ul > li > ul {
  position: absolute;
  left: 0;
  top: 43.2px;
  width: 100%;
  text-align: center;
  
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}
.nav > ul > li > ul > li > a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover {
  background-color: #8f8f8f;
}

#slider::after {
  content: '';
  width: 100%;
  height: 0px;
  background-color: #b0b0b0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: 0.5s ease;
}
#slider.on::after {
  height: 193px;
}