* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%;
}

#main {
  width: 100%;
  display: flex;
}

#header {
  width: 200px;
  height: calc(100vh - 120px);
  background-color: red;
}

#contents {
  width: 400px;
  height: calc(100vh - 120px);
  background-color: orange;
}

#slider {
  width: calc(100% - 200px - 400px);
  height: calc(100vh - 120px);
  background-color: yellow;
}
.sliderWrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.sliderWrap .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .7s ease;
}
.slider.s1 {
  background-image: url('/images/공원.jpg');
}
.slider.s2 {
  background-image: url('/images/자전거.webp');
}
.slider.s3 {
  background-image: url('/images/전자레인지.jpg');
}
.slider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .4);
  padding: 10px 20px;
}

#footer {
  width: 100%;
  display: flex;
}
.footer1 {
  width: 200px;
  height: 120px;
  background-color: green;
}
.footer2 {
  width: calc(100% - 200px);
  height: 120px;
}
.footer2-1 {
  width: 100%;
  height: 60px;
  background-color: blue;
}
.footer2-2 {
  width: 100%;
  height: 60px;
  background-color: midnightblue;
}