* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%;
}

#main {
  width: 100%;
  display: flex;
}
#header {
  width: 200px;
  height: calc(100vh - 120px);
}
#header h1 {
  width: 100%;
  height: 120px;
  background-color: red;
}
#header nav {
  width: 100%;
  height: calc(100% - 120px);
  background-color: blue;
}
#contents {
  width: 400px;
  height: calc(100vh - 120px);
}
#contents .banner {
  width: 100%;
  height: 15%;
  background-color: antiquewhite;
}
#contents .notice {
  width: 100%;
  height: 35%;
  background-color: aqua;
}
#contents .gallery {
  width: 100%;
  height: 35%;
  background-color: aquamarine;
}
#contents .link {
  width: 100%;
  height: 15%;
  background-color: azure;
}
#slider {
  width: calc(100% - 600px);
  height: calc(100vh - 120px);
  background-color: green;
  overflow: hidden;
}
.sliderWrap {
  display: flex;
  width: 400%;
  height: 100%;
}
.sliderWrap .slider {
  position: relative;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider.s1 {
  background-image: url('/images/공원.jpg');
}
.slider.s2 {
  background-image: url('/images/자전거.webp');
}
.slider.s3 {
  background-image: url('/images/전자레인지.jpg');
}
.slider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .4);
  padding: 10px 20px;
}

#footer {
  width: 100%;
  display: flex;
}
#footer .footer1 {
  width: 200px;
  height: 120px;
  background-color: orange;
}
#footer .footer2 {
  width: calc(100% - 200px);
}
.footer2 .footer2-1 {
  width: 100%;
  height: 60px;
  background-color: blanchedalmond;
}
.footer2 .footer2-2 {
  width: 100%;
  height: 60px;
  background-color: blueviolet;
}