* {
  margin: 0;
  padding: 0;
}

#wrap {
  position: relative;
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
}
#header .logo {
  width: 200px;
  height: 100px;
  background-color: red;
}
#header .nav {
  width: calc(100% - 200px);
  height: 100px;
  background-color: orange;
}

#slider {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

#contents {
  width: 100%;
  display: flex;
}
#contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: green;
}
#contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: blue;
}
#contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: skyblue;

  display: flex;
  align-items: center;
  justify-content: center;
}
.content3 button {
  border: none;
  padding: 10px;
  background-color: aliceblue;
}

#footer {
  width: 100%;
  display: flex;
}
#footer .footer1 {
  width: 200px;
  height: 100px;
  background-color: purple;
}
#footer .footer2 {
  width: calc(100% - 400px);
  height: 100px;
  background-color: gray;
}
#footer .footer3 {
  width: 200px;
  height: 100px;
  background-color: pink;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background-color: bisque;
  border: 2px solid black;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  display: none;
}
.modal button {
  border: none;
  padding: 10px;
  background-color: aliceblue;
}